@{
    ViewBag.Title = "Home Page";
}

<div class="ejemplo">
    <div></div>
    <div class="content-home">
   Nuestro cliente nos solicita crear una base de datos,en donde el tenga la facilidad de simplificar las comidas en su restaurante.
        Donde se pueda consultar la fuente de la receta ,la ubicacion , su proceso de elaboracion ,ingresientes,tiempo y utensilios (tipos de plato y menu).

    </div>
</div>